/* Portfolio Project Page CSS */

body, *, *:before, *:after {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none;     /* For IE/Edge */
}

html, body {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    background-color: #264653;
    background: linear-gradient(to bottom, #264653 0%, #2b5a63 );
}

body {
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

a {
    color: inherit;
    font-weight: 700;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}

.main_content {
    max-width: 1800px;
    margin: 0 265px;
    padding: 100px 0px 50px 0px;         
    box-sizing: border-box;
    flex: 1;
}

/* Large screens */
@media (max-width: 1600px) {
    .main_content {
        margin: 0 200px; 
    }
    nav.navbar > #logo {
        margin-left: 45px;
    }
}

/* Medium screens */
@media (max-width: 1200px) {
    .main_content {
        margin: 40px 150px;
    }
    nav.navbar > #logo {
        margin-left: 35px;
    }
}

/* Small screens (tablets/phones) */
@media (max-width: 800px) {
    .main_content {
        margin: 40px 85px;
        padding: 0 8px;
    }
    nav.navbar > #logo {
        margin-left: 20px;
    }
}

/* Extra small screens */
@media (max-width: 500px) {
    .main_content {
        margin: 40px 50px;
        padding: 0 2px;
    }
    nav.navbar > #logo {
        margin-left: 5px;
    }
}

header {
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: auto;
    font-family: 'Merriweather', serif;
}

.navbar {
    position: fixed;
    background-color: #e76f51;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100%;
    padding: 0;
    z-index: 1000;
    height: 60px;
}

.navbar #logo {
    display: flex;
    transform: translateY(-34.5%);
    width: 180px;
    height: auto;
    padding: 0;
    margin-left: 55px;
    display: block;
    object-fit: cover;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: flex;
    justify-content: flex-end;
    padding: 10px 16px;
    height: 60px;
}

.navbar li a {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px;
}

.navbar ul:last-child{
    margin-right: 70px;
}

.navbar li:hover{
    background-color: #f4a261;
    transition: background-color 0.3s ease-in;
}

.main_content h1 {
    font-size: 2.5rem;
    color: #ffffff;
    padding-top: 45px;
    text-align: center;
    text-shadow: 0 2px 8px rgba(0,0,0,0.5); 
    font-family: 'Merriweather', serif;
}

.project_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 28.7px;
    width: 100%;
    margin: 50px 0;
    box-sizing: border-box;
}

.project_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2a9d8f;
    padding: 24px;
    margin: 0;
    border-radius: 12px;
    min-width: 260px;
    max-width: 295px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.5); 
}

.project_item h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.5rem;
    letter-spacing: 0.4px;
    line-height: 1.2;
    font-weight: 600;
    color: #ffffff;
    margin: 10px 0;
    text-align: center;
}

.project_item img {
    width: 200px;
    height: auto;
    object-fit: cover;
    border: 3px solid #264653;
    box-sizing: border-box;
}

.project_item p {
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
    margin: 5px 0px 10px;
    text-align: center;
    border-radius: 8px;
    aspect-ratio: 3 / 2;
}

.project_item p span {
    color: #e9c46a; /* Highlight color for specific text */
}


.project_item a {
    font-size: 1rem;
    color: #f1f1f1;
    padding: 10px 20px;
    transition: color 0.4s ease-in-out;
}

.project_item a:hover {
    color: #4fd6ff;
}

footer {
    width: 100%;
    background: #1a1d23;
    color: #e0e1dd;
    text-align: center;
    padding: 32 0 20px 0;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.5);
}

footer p {
    margin: 20px 0;
}

/* color scheme 
    264653
    2a9d8f
    e9c46a
    f4a261  
    e76f51
*/