/* 
    Portfolio Home Page CSS
*/

body, *, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    font-family: "Merriweather", sans-serif;
    font-size: 16px;
    background-color: #264653;
}

a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}


.main_content {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 24px;      
    box-sizing: border-box;
}

header {
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: auto;
    font-family: 'Merriweather', serif;
}

.navbar {
    position: fixed;
    background-color: #e76f51;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100%;
    padding: 0;
    z-index: 1000;
    height: 60px;
}

.navbar #logo {
    display: flex;
    transform: translateY(-34.5%);
    width: 180px;
    height: auto;
    padding: 0;
    margin-left: 55px;
    display: block;
    object-fit: cover;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: flex;
    justify-content: flex-end;
    padding: 10px 16px;
    height: 60px;
}

.navbar li a {
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px;
}

.navbar ul:last-child{
    margin-right: 70px;
}

.navbar li:hover{
    background-color: #f4a261;
    transition: background-color 0.3s ease-in;
}


/* color scheme 
    264653
    2a9d8f
    e9c46a
    f4a261
    e76f51
*/